body {
  font-family: seif, cursive;
  background-color: lightblue;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3em;
  text-align: center;
}

p {
  font-size: 1em;
  text-align: center;
}

.dress-a-biscuiit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.dress-a-bisc {
  position: absolute;
  top: 0px;
  left: 0px;
}

.head {
  z-index: 2;
}

.body {
  z-index: 0;
}

.shoes {
  z-index: 1;
}
